<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msrit.abhilash.udbhavinsights" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--GET_ACCOUNTS is only required for GCM on devices running Android lower than 4.0.4.-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission android:protectionLevel="signature"
        android:name="com.msrit.abhilash.udbhavinsights.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.msrit.abhilash.udbhavinsights.permission.C2D_MESSAGE" />

    <application
        android:name=".UdbhavInsights"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity android:name=".Login" >

        </activity>


        <activity android:name=".register" >
        </activity>


        <activity
            android:name=".MainActivity"
            android:label="Udbhav 2016 Volunteers" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.msrit.abhilash.udbhavinsights.MyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.msrit.abhilash.udbhavinsights" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.parse.push.notification_icon" android:resource="@mipmap/push_icon3"/>
    </application>

</manifest>
